<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 50%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>

<body>

{% if users %}
    <table>
      <tr>
        <th>Name</th>
        <th>Phone number</th>
      </tr>
      {% for user in users %}
        <tr>
        <td>{{ user.name }}</td><td>{{ user.number }}</td>
        </tr>
      {% endfor %}
    </table>
{% else %}
    <p>No user exists.</p>
{% endif %}
</body>